apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: homelab
spec:
  description: Homelab Project
  sourceRepos:
    - https://github.com/erhhung/*
    - {{ gitlab_ssh_url     }}/homelab/**
    - {{ gitlab_http_url    }}/homelab/**
    - {{ gitlab_shell_url   }}/homelab/**
    - {{ gitlab_service_url }}/homelab/**
  destinations:
{% set urls = [
      kube_api_url,
      vcluster_kube_urls.values(),
    ] %}
{% for url in urls | flatten %}
    - server: {{ url }}
      namespace: '*'
{% endfor %}
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
