# check if Prometheus Operator CRDs are installed
# so that ServiceMonitor resources can be created
# and whether Grafana API server is online
#
# pass the following vars:
#   kubeconfig  [optional] default=<RKE>
# sets the following facts:
#   prometheus_crds_installed: true/false
#   grafana_api_server_online: true/false
#   monitoring_stack_ready:    true/false
---
- name: Include vars/monitoring.yml
  # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_vars_module.html
  ansible.builtin.include_vars: vars/monitoring.yml
  when: grafana_url is not defined

- name: Is the monitoring stack ready?
  become: false
  vars:
    # if one CRD is installed, others should also be
    check_crd: servicemonitors.monitoring.coreos.com
    api_base: "{{ grafana_url }}/api"
  block:
    - name: Does CustomResourceDefinition exist?
      vars:
        # required kubernetes>=24.2 package only in user virtualenv
        ansible_python_interpreter: "{{ venv_python_interpreter }}"
      # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_info_module.html
      kubernetes.core.k8s_info:
        kubeconfig: "{{ kubeconfig | default(rke_kubeconfig) }}"
        api_version: apiextensions.k8s.io/v1
        kind: CustomResourceDefinition
        name: "{{ check_crd }}"
      register: crd_info

    - name: Is Grafana API server reachable?
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/uri_module.html
      ansible.builtin.uri:
        url: "{{ api_base }}"
        timeout: 2
        # if Grafana hasn't been installed, status code
        # would be -1 for CERTIFICATE_VERIFY_FAILED due
        # to Nginx returning its default cert; it would
        # be 404 or 502 Bad Gateway if Grafana pod down;
        # otherwise, it would be 401 due to missing API
        # credentials
        status_code: [-1, 401, 404, 502]
      register: grafana_api

    - name: Set facts about stack readiness
      vars: &vars
        grafana_online: "{{ grafana_api.status == 401    }}"
        crds_installed: "{{ crd_info.resources is truthy }}"
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_fact_module.html
      ansible.builtin.set_fact:
        grafana_api_server_online: "{{ grafana_online }}"
        prometheus_crds_installed: "{{ crds_installed }}"
        monitoring_stack_ready: "{{    crds_installed and grafana_online }}"

    # also set grafana_api_server_online fact
    # on localhost because it's often checked
    # there to decide on importing dashboards
    - name: Set facts about stack readiness
      delegate_to: localhost
      delegate_facts: true
      run_once: true
      vars: *vars
      ansible.builtin.set_fact:
        grafana_api_server_online: "{{ grafana_online }}"

    - name: Show facts about stack readiness
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/debug_module.html
      ansible.builtin.debug:
        msg: |-
          prometheus_crds_installed: {{ prometheus_crds_installed }}
          grafana_api_server_online: {{ grafana_api_server_online }}
             monitoring_stack_ready: {{ monitoring_stack_ready    }}
