# create a Git-based AWX project with static inventory
# sourced from its hosts.ini file, as well as a 4-node
# workflow job template with playbook selection survey
#
# pass the following vars:
#   project:    <required> config dict
#     name      <required> project name
#     desc      [optional] description
#     url       <required> Git repo URL
#     branch    [optional] default=main
#     git_cred  [optional] Git credential
#     run_creds [optional] run credentials
#     exec_env  [optional] default=default
#     inv_file  <required> inventory file
#     playbooks <required> playbook names
---
- name: Create AWX project "{{ project.name }}"
  vars:
    org: "{{ awx_organization.name }}"
    inv_fname: "{{ project.inv_file | basename }}"
    cplane_ig: controlplane
    cplane_ee: "{{  awx_environments['cplane'].name }}"
    default_ig: default
    default_ee: "{{ awx_environments['default'].name }}"
    project_ee: "{{ awx_environments[project.exec_env | default('default')].name }}"

  module_defaults:
    # https://docs.ansible.com/projects/ansible/latest/collections/awx/awx/job_template_module.html
    awx.awx.job_template:
      become_enabled: false
      job_type: run
  block:
    - name: Create AWX project "{{ project.name }}"
      # https://docs.ansible.com/projects/ansible/latest/collections/awx/awx/project_module.html
      awx.awx.project: # noqa args
        name: "{{ project.name }}"
        description: "{{ project.desc | default(omit) }}"
        organization: "{{ org }}"
        scm_type: git
        scm_url: "{{ project.url }}"
        scm_branch: "{{ project.branch | default('main') }}"
        scm_clean: true
        scm_update_on_launch: true
        scm_update_cache_timeout: 600
        scm_credential: "{{ awx_credentials[project.git_cred].name
          if project.git_cred is defined else omit }}"
        default_environment: "{{ project_ee }}"
        update_project: true
        state: present
        wait: true
        timeout: 60

    - name: Create inventory for "{{ project.name }}"
      # https://docs.ansible.com/projects/ansible/latest/collections/awx/awx/inventory_module.html
      awx.awx.inventory:
        name: "{{ project.name }}"
        description: "{{ project.name }} static inventory"
        organization: "{{ org }}"
        instance_groups: "{{ [cplane_ig] }}"
        state: present

    - name: Create inventory source "{{ inv_fname }}"
      # https://docs.ansible.com/projects/ansible/latest/collections/awx/awx/inventory_source_module.html
      awx.awx.inventory_source: # noqa args
        name: "{{ inv_fname }}"
        inventory: "{{ project.name }}"
        source: scm
        source_path: "{{ project.inv_file }}"
        source_project: "{{ project.name }}"
        overwrite: true
        update_on_launch: true
        update_cache_timeout: 600
        execution_environment: "{{ cplane_ee }}"
        state: present
      register: inv_src

    - name: Update inventory source "{{ inv_fname }}"
      # https://docs.ansible.com/projects/ansible/latest/collections/awx/awx/inventory_source_update_module.html
      awx.awx.inventory_source_update:
        name: "{{ inv_fname }}"
        inventory: "{{ project.name }}"
        organization: "{{ org }}"
        wait: true
        timeout: 60
      # noqa no-handler
      # update once on creation
      when: inv_src is changed

    - name: Create job template "1-SetUp"
      awx.awx.job_template: # noqa args
        name: &setup >-
          {{ project.name }} — 1-SetUp
        description: Create runlist temp.yml
        inventory: Localhost
        project: "{{ project.name }}"
        playbook: awx.setup.yml
        instance_groups: "{{ [default_ig] }}"
        prevent_instance_group_fallback: true
        # use custom EE with yq and jo installed
        execution_environment: "{{ default_ee }}"
        state: present

    - name: Create job template "2-Execute"
      awx.awx.job_template: # noqa args
        name: &execute >-
          {{ project.name }} — 2-Execute
        description: Run selected playbooks
        inventory: "{{ project.name }}"
        project: "{{ project.name }}"
        playbook: awx.execute.yml
        credentials: |
          {% set creds = [] %}
          {% if project.run_creds is defined %}
          {%   for cred in project.run_creds %}
          {%     set _ = creds.append(awx_credentials[cred].name) %}
          {%   endfor %}
          {% endif %}
          {{ creds }}
        instance_groups: "{{ [default_ig] }}"
        prevent_instance_group_fallback: true
        execution_environment: "{{ project_ee }}"
        ask_verbosity: true
        state: present

    - name: Create job template "3-TearDown"
      awx.awx.job_template: # noqa args
        name: &teardown >-
          {{ project.name }} — 3-TearDown
        description: Delete runlist temp.yml
        inventory: Localhost
        project: "{{ project.name }}"
        playbook: awx.teardown.yml
        skip_tags: failure # CSV
        instance_groups: "{{ [cplane_ig] }}"
        execution_environment: "{{ cplane_ee }}"
        state: present

    - name: Create job template "4-Fail"
      awx.awx.job_template: # noqa args
        name: &fail >-
          {{ project.name }} — 4-Fail
        description: Fail workflow if failed
        inventory: Localhost
        project: "{{ project.name }}"
        # cleans up before failing
        playbook: awx.teardown.yml
        instance_groups: "{{ [cplane_ig] }}"
        execution_environment: "{{ cplane_ee }}"
        state: present

    - name: Create workflow template "{{ project.name }}"
      vars:
        # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/template_lookup.html
        survey: "{{ lookup('ansible.builtin.template',
          template_dir ~ '/awx/surveys/playbooks.yaml.j2') | from_yaml }}"
        choices: "{{ ['ALL'] + project.playbooks }}"
        defaults: ALL
        notifiers: |
          {% set notifiers = [] %}
          {% if email_notifications_enabled %}
          {%   set _ = notifiers.append(awx_notifiers['email']) %}
          {% endif %}
          {% if slack_notifications_enabled %}
          {%   set _ = notifiers.append(awx_notifiers['slack']) %}
          {% endif %}
          {{ notifiers | map(attribute='name') if notifiers is truthy else omit }}
      # https://docs.ansible.com/projects/ansible/latest/collections/awx/awx/workflow_job_template_module.html
      awx.awx.workflow_job_template: # noqa args
        name: "{{ project.name }}"
        description: "{{ project.desc | default(omit) }}"
        organization: "{{ org }}"
        state: present
        ask_tags: true
        ask_skip_tags: true
        survey_enabled: true
        survey_spec: "{{ survey }}"
        notification_templates_success: "{{ notifiers }}"
        notification_templates_error: "{{ notifiers }}"

        workflow_nodes:
          - identifier: Set Up
            unified_job_template:
              type: job_template
              name: *setup
            related:
              success_nodes:
                - identifier: Execute

          - identifier: Execute
            unified_job_template:
              type: job_template
              name: *execute
            related:
              success_nodes:
                - identifier: Tear Down
              failure_nodes:
                # includes teardown
                - identifier: Fail
            verbosity: "0"

          - identifier: Tear Down
            unified_job_template:
              type: job_template
              name: *teardown

          - identifier: Fail
            unified_job_template:
              type: job_template
              name: *fail
