# gather facts about the Ansible controller host
#
# sets the following facts:
#   local_python_interpreter `which python3` output
#   local_tz_offset          {in_hours,in_seconds}
---
- name: Gather controller facts
  delegate_to: localhost
  become: false
  block:
    - name: Get timezone offset
      # .ansible/modules/local_timezone_offset.py
      # returns .in_hours (float) and .in_seconds
      local_timezone_offset: {}
      register: tz_offset

    - name: Set controller facts
      vars:
        # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/pipe_lookup.html
        arch: "{{ lookup('ansible.builtin.pipe', 'uname -m') }}" # x86_64 or aarch64
        # https://jinja.palletsprojects.com/en/stable/templates#jinja-filters.format
        tz_hh_mm: "{{  '%+03d:%02d' |
          format(tz_offset.in_hours | int, tz_offset.in_seconds % 3600) }}"
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_fact_module.html
      ansible.builtin.set_fact:
        local_python_interpreter: "{{ lookup('ansible.builtin.pipe', 'which python3') }}"
        local_bash_interpreter: "{{ lookup('ansible.builtin.pipe', 'which bash') }}"
        local_machine_arch: "{{ 'arm64' if arch == 'aarch64' else 'amd64' }}"
        local_tz_offset:
          in_hours: "{{ tz_offset.in_hours | float }}"
          in_seconds: "{{ tz_offset.in_seconds | int }}"
          in_hh_mm: "{{ tz_hh_mm }}"
  any_errors_fatal: true
