# this Jinja2 template is values file for the vCluster Helm chart
# https://github.com/loft-sh/vcluster/tree/main/chart/values.yaml
# https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml

# https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync
sync:
  fromHost:
    # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync/from-host/nodes
    nodes:
      enabled: true
      selector:
        all: true
    # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync/from-host/storage-classes
    storageClasses:
      enabled: true
    # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync/from-host/ingress-classes
    ingressClasses:
      enabled: true

  toHost:
    # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync/to-host/storage/persistent-volumes
    persistentVolumes:
      enabled: true
    # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync/from-host/ingress-classes#how-syncing-works
    ingresses:
      enabled: true
    # CRD syncing requires deployment of vCluster Platform with Free Tier license:
    # https://www.vcluster.com/docs/vcluster/troubleshoot/pro-feature-license-error
    # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/sync/from-host/custom-resources
    customResources:
      certificates.cert-manager.io/v1:
        enabled: true

policies:
  # unfortunately, Central Admission Control is a
  # Pro-only feature (enterprise "Scale" license):
  # https://www.vcluster.com/pro/docs/features/centralized_admission_control
  centralAdmission:
    {%- if webhooks | default([]) is truthy +%}
    mutatingWebhooks:
      - apiVersion: admissionregistration.k8s.io/v1
        kind: MutatingWebhookConfiguration
        metadata:
          name: kyverno-resource-mutating-webhook-cfg
          labels:
            webhook.kyverno.io/managed-by: kyverno
        webhooks:
          # to_indented_yaml: plugins/filter/filters.py
          {{ webhooks | to_indented_yaml | indent(10) }}
    {%- endif %}

# https://www.vcluster.com/docs/platform/install/air-gapped#deploy-vcluster-using-helm
platform:
  project: default
  apiKey:
    # this is NOT the API key Secret in the vcluster-platform namespace, but a Secret
    # of the same name in the tenant's control plane namespace (e.g. vcluster-<name>)
    secretName: {{ vcluster_platform_secrets['api-key'] }}
    createRBAC: true

# https://www.vcluster.com/docs/vcluster/category/components
controlPlane:
  # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/control-plane/components/distro
  distro:
    # vanilla Kubernetes is the recommended distro
    # as K0s is deprecated and no longer supported
    k8s:
      enabled: true
      # https://ghcr.io/loft-sh/kubernetes
      image:
        registry: ghcr.io
        repository: loft-sh/kubernetes
        # match the Kubernetes version on host
        tag: v{{ kubernetes_version.with_patch }}

  # backingStore:
  #   etcd:
  #     # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/control-plane/components/backing-store/etcd/deploy
  #     deploy:
  #       enabled: true
  #       statefulSet:
  #         persistence:
  #           volumeClaim:
  #             enabled: false
  #           volumeClaimTemplates:
  #             - metadata:
  #                 name: etcd
  #               spec:
  #                 storageClassName: {{ storage_classes['local'] }}
  #                 accessModes: ["ReadWriteOnce"]
  #                 resources:
  #                   requests:
  #                     storage: {{ vcluster_pv_sizes['etcd'] }}
  #                 selector:
  #                   matchLabels:
  #                     app: vcluster
  #                     release: {{ vcluster.name }}
  #                     role: etcd

  # https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/control-plane/deployment/statefulset
  statefulSet:
    image:
      registry: ghcr.io
      repository: loft-sh/vcluster-pro
      # tag: use chart-defined version

    resources:
      requests:
        cpu: 100m
        memory: 512Mi

    persistence:
      volumeClaim:
        enabled: false
      volumeClaimTemplates:
        - metadata:
            name: data
          spec:
            storageClassName: {{ storage_classes['local'] }}
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: {{ vcluster_pv_sizes['data'] }}
            selector:
              matchLabels:
                app: vcluster
                release: {{ vcluster.name }}
                role: data

  proxy:
    # https://www.vcluster.com/docs/vcluster/manage/accessing-vcluster#access-vcluster-externally
    extraSANs:
      - {{ vcluster_fqdn }}
      - {{ vcluster.name }}.{{ vcluster_ns }}.svc.{{ cluster_domain }}
      - {{ vcluster.name }}.{{ vcluster_ns }}.svc

  # https://www.vcluster.com/docs/vcluster/manage/accessing-vcluster?x1=1#expose-vcluster
  ingress:
    enabled: true
    # this host (e.g. xtest.fourteeners.local) will be
    # the Kubernetes API server endpoint in kubeconfig
    host: {{ vcluster_fqdn }}
    pathType: Prefix
    spec:
      ingressClassName: {{ rke_ingress_pt_class }}
