# helper for build.yml to build
# container image using Docker
---
- name: Build and push Docker image
  block:
    - name: Build Docker image "{{ local_image }}"
      # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_image_build_module.html
      community.docker.docker_image_build:
        platform: "{{ platforms | default([local_machine_arch]) |
          map('regex_replace', '^', 'linux/') }}"
        dockerfile: "{{ dockerfile | default(omit) }}"
        path: "{{ context_path }}"
        name: "{{ local_name   }}"
        # no idempotency
        rebuild: always
        pull: true

    - name: Tag image "{{ local_image }}" for Habor
      # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_image_tag_module.html
      community.docker.docker_image_tag:
        name: "{{ local_name }}"
        repository: "{{ remote_name }}"
      register: tag_image
      # not important enough
      # to report as changed
      changed_when: false

    - name: Log into Harbor registry as "{{ harbor_admin_user }}"
      # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_login_module.html
      community.docker.docker_login:
        registry_url: https://{{ harbor_container_registry }}
        username: "{{ harbor_admin_user }}"
        password: "{{ harbor_admin_pass }}"

    - name: Count current repository artifacts
      delegate_to: &delegate >-
        {{ groups['rke_any'] | first }}
      vars: &vars
        ansible_python_interpreter: "{{ default_python_interpreter }}"
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html
      ansible.builtin.shell: &script |
        # set $HARBOR_ENCRYPTION_KEY
        . .bash_aliases
        set -o pipefail

        harbor artifact list library/{{ base_name }} -o json | \
          jq '.Payload | map(select(.type == "IMAGE")) | length'
      args: &args
        executable: /bin/bash
      register: artifacts_before
      when: if_changed is defined
      changed_when: false

    - name: Push "{{ remote_image }}"
      # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_image_push_module.html
      community.docker.docker_image_push:
        name: "{{ remote_name }}"
      timeout: 600
      retries: 3
      delay: 10

    - name: Notify handler if artifact created
      delegate_to: *delegate
      ansible.builtin.shell: *script
      vars: *vars
      args: *args
      register: artifacts_after
      when: if_changed is defined
      changed_when: >-
        artifacts_after.stdout  | int >
        artifacts_before.stdout | int
      notify: "{{ if_changed }}"
  always:
    - name: Untag "{{ remote_image }}"
      # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_image_remove_module.html
      community.docker.docker_image_remove:
        name: "{{ remote_name }}"
      when: tag_image is defined
      # not important enough
      # to report as changed
      changed_when: false
