# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/env_lookup.html
ansible_ssh_private_key_file: "{{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/{{
                                  lookup('ansible.builtin.env', 'USER') }}.pem"
ansible_ssh_common_args: -o StrictHostKeyChecking=no -o ForwardAgent=yes
# ansible_become_pass: {vault.yml}

default_python_interpreter: /usr/bin/python3
ansible_python_interpreter: "{{ default_python_interpreter }}"
# user virtualenv gets created by ansible.builtin.pip in packages.yml
ansible_user_virtualenv: /home/{{ ansible_user }}/.venv
venv_python_interpreter: "{{ ansible_user_virtualenv }}/bin/python3"

# "playbook_dir" is an Ansible built-in var
template_dir: "{{ playbook_dir }}/templates"

# bcrypt settings used for ansible.builtin.password_hash filter:
# use fixed 22-char salt and rounds for idempotent configuration
# (requires Python packages "passlib" and "bcrypt==4.0.1" on the
# Ansible controller)
bcrypt_salt: uSxlHqJxwleWvtiyqwx1kO
bcrypt_rounds: 11
