pki_host: "{{ groups['pki_any'] | first }}"
xcp_host: "{{ groups['xcp_any'] | first }}"

# no longer setting SSH key file here so that AWX can inject it
# by credentials while play.sh exports ANSIBLE_PRIVATE_KEY_FILE
# ansible_ssh_private_key_file: >-
#   {{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/{{
#      lookup('ansible.builtin.env', 'USER') }}.pem
ansible_ssh_common_args: -o StrictHostKeyChecking=no -o ForwardAgent=yes
# password overrides in inventory/host_vars/*.yml
ansible_become_pass: "{{ sudo_pass['default'] }}"

default_python_interpreter: /usr/bin/python3
ansible_python_interpreter: "{{ default_python_interpreter }}"
# user virtualenv gets created by ansible.builtin.pip in packages.yml
ansible_user_virtualenv: /home/{{ ansible_user }}/.venv
venv_python_interpreter: "{{ ansible_user_virtualenv }}/bin/python3"

# "playbook_dir" is an Ansible built-in var
template_dir: "{{ playbook_dir }}/templates"

homelab_domain: fourteeners.local
search_domains:
  - "{{ homelab_domain }}"

# IP addresses of RKE cluster nodes
cluster_node_ips: |
  {% set ips = [] %}
  {% for host in groups['rke_cluster'] %}
  {%   set _ = ips.append(hostvars[host].ansible_host) %}
  {% endfor %}
  {{ ips }}

# available only after running harbor.yml playbook!
harbor_container_registry: harbor.{{ homelab_domain }}
harbor_admin_user: admin

# bcrypt settings used for ansible.builtin.password_hash filter:
# use fixed 22-char salt and rounds for idempotent configuration
# (requires Python packages "passlib" and "bcrypt==4.0.1" on the
# Ansible controller)
bcrypt_salt: uSxlHqJxwleWvtiyqwx1kO
bcrypt_rounds: 11
