awx_organization:
  name: Fourteeners
  desc: Erhhung's Homelab

# https://docs.ansible.com/projects/awx-operator/en/latest/user-guide/advanced-configuration/deploying-a-specific-version-of-awx.html
awx_environments:
  cplane:
    # created and name given by awx-operator
    name: Control Plane Execution Environment

  default:
    name: Default Execution Environment
    image: "{{ harbor_container_registry }}/library/al2023-devops:latest"
    pull: always # always|missing|never

  xcp-ng:
    name: XCP-ng Execution Environment
    image: "{{ harbor_container_registry }}/library/awx-ee-xcp-ng:latest"
    pull: always

# get IDs of credential types:
# while read id kind name; do
#   printf "%-4d %-14s %s\n" $id $kind "$name"
# done < <(
#   awx credential_types list --all -f jq \
#     --filter '.results | sort_by(.name) |
#      .[] | "\(.id) \(.kind) \(.name)"'
# )
# get inputs for specific type:
# awx credential_types get --name "GPG Public Key" -f yaml | yq .inputs
awx_credentials:
  # SSH private key for all Homelab hosts
  ssh-key:
    type: Machine
    name: Erhhung SSH Private Key
    # desc: optional
    inputs:
      # ssh_key_data set in Ansible task
      ssh_key_data: "{{ ssh_key_data }}"

  # Ansible Vault password for homelab-xcp
  xcp-vault:
    type: Vault
    name: homelab-xcp Vault Password
    inputs:
      vault_password: "{{ xcp_vault_pass }}"

  # Ansible Vault password for homelab-k8s
  k8s-vault:
    type: Vault
    name: homelab-k8s Vault Password
    inputs:
      vault_password: "{{ k8s_vault_pass }}"

  github-scm:
    type: Source Control
    name: Erhhung GitHub Credentials
    inputs:
      username: "{{ user_erhhung.username }}"
      password: "{{ github_access_token   }}"

  gitlab-scm:
    type: Source Control
    name: Erhhung GitLab Credentials
    inputs:
      username: "{{ user_erhhung.username }}"
      password: "{{ awx_gitlab_pat        }}"

  github-pat:
    type: GitHub Personal Access Token
    name: Erhhung GitHub Access Token
    inputs:
      token: "{{ github_access_token }}"

  gitlab-pat:
    type: GitLab Personal Access Token
    name: Erhhung GitLab Access Token
    inputs:
      # PAT created by Ansible task
      token: "{{ awx_gitlab_pat }}"

  # this must be linked to the organization
  # so that project update will run content
  # sync task (install roles & collections)
  galaxy:
    type: Ansible Galaxy/Automation Hub API Token
    name: Public Ansible Galaxy
    inputs:
      url: https://galaxy.ansible.com
      # token: not needed for public

awx_projects:
  home-xcp:
    name: homelab-xcp
    desc: >-
      Ansible playbooks to manage configuration and
      dotfiles for Erhhung's XCP-ng cluster at home.
    url: https://github.com/erhhung/homelab-xcp.git
    git_cred: github-scm
    run_creds:
      - ssh-key
      - xcp-vault
    exec_env: xcp-ng
    inv_file: inventory/hosts.ini
    playbooks:
      - python3
      - packages
      - basics
      - files
      - vms

  home-k8s:
    name: homelab-k8s
    desc: >-
      Ansible playbooks to provision infrastructure and
      deploy services for Erhhung's Kubernetes cluster
      at home.
    url: https://github.com/erhhung/homelab-k8s.git
    git_cred: github-scm
    run_creds:
      - ssh-key
      - k8s-vault
    exec_env: default
    inv_file: inventory/hosts.ini
    # we're importing THIS project, so
    # just get playbooks from main.yml
    playbooks: |-
      {% set main_yml =  playbook_dir ~ '/main.yml' %}
      {% set   yq_cmd = 'yq "map(.tags) | @json" '~ main_yml %}
      {{ lookup('ansible.builtin.pipe',  yq_cmd) | from_json }}
