# icloud_smtp.*:        {vault.yml}
# slack_webhook_urls.*: {vault.yml}
# ansible_vault_pass.*: {vault.yml}

awx_organization:
  name: Fourteeners
  desc: Erhhung's Homelab

# https://docs.ansible.com/projects/awx-operator/en/latest/user-guide/advanced-configuration/deploying-a-specific-version-of-awx.html
# https://docs.ansible.com/projects/awx/en/24.6.1/userguide/execution_environments.html
awx_environments:
  cplane:
    # created and name given by awx-operator
    name: Control Plane Execution Environment

  default:
    name: Default Execution Environment
    # https://github.com/erhhung/al2023-devops
    image: "{{ harbor_container_registry }}/library/al2023-devops:latest"
    pull: always

  minimal:
    name: Minimal Execution Environment
    image: "{{ harbor_container_registry }}/library/awx-ee-tiny:latest"
    pull: always # always|missing|never

  xcp-ng:
    name: XCP-ng Execution Environment
    image: "{{ harbor_container_registry }}/library/awx-ee-xcp:latest"
    pull: always

# get IDs of credential types:
# while read -r id kind name; do
#   printf "%-4d %-14s %s\n" $id $kind "$name"
# done < <(
#   awx credential_types list --all -f jq \
#     --filter '.results | sort_by(.name) |
#      .[] | "\(.id) \(.kind) \(.name)"'
# )
# get inputs for specific type:
# awx credential_types get --name "GPG Public Key" -f yaml | yq .inputs

# https://docs.ansible.com/projects/awx/en/24.6.1/userguide/credentials.html
awx_credentials:
  # SSH private key for all Homelab hosts
  ssh-key:
    type: Machine
    name: Erhhung SSH Private Key
    # desc: optional
    inputs:
      # ssh_key_data set in Ansible task
      ssh_key_data: "{{ ssh_key_data }}"

  # Ansible Vault password for homelab-xcp
  xcp-vault:
    type: Vault
    name: homelab-xcp Vault Password
    inputs:
      vault_password: "{{ ansible_vault_pass['home-xcp'] }}"

  # Ansible Vault password for homelab-k8s
  k8s-vault:
    type: Vault
    name: homelab-k8s Vault Password
    inputs:
      vault_password: "{{ ansible_vault_pass['home-k8s'] }}"

  github-scm:
    type: Source Control
    name: Erhhung GitHub Credentials
    inputs:
      username: "{{ user_erhhung.username }}"
      password: "{{ github_access_token   }}"

  gitlab-scm:
    type: Source Control
    name: Erhhung GitLab Credentials
    inputs:
      username: "{{ user_erhhung.username }}"
      password: "{{ awx_gitlab_pat        }}"

  github-pat:
    type: GitHub Personal Access Token
    name: Erhhung GitHub Access Token
    inputs:
      token: "{{ github_access_token }}"

  gitlab-pat:
    type: GitLab Personal Access Token
    name: Erhhung GitLab Access Token
    inputs:
      # PAT created by Ansible task
      token: "{{ awx_gitlab_pat }}"

  # this must be linked to the organization
  # so that project update will run content
  # sync task (install roles & collections)
  galaxy:
    type: Ansible Galaxy/Automation Hub API Token
    name: Public Ansible Galaxy
    inputs:
      url: https://galaxy.ansible.com
      # token: not needed for public

# https://docs.ansible.com/projects/awx/en/24.6.1/userguide/notifications.html
awx_notifiers:
  email:
    name: Erhhung Gmail
    # desc: optional
    type: email # email|webhook|slack|pagerduty|...
    config:
      host: "{{ icloud_smtp.host }}"
      port: "{{ icloud_smtp.port }}"
      use_tls: true
      use_ssl: false
      username: "{{ icloud_smtp.username }}"
      password: "{{ icloud_smtp.passwords['awx'] }}"
      sender: "Ansible AWX <{{ icloud_smtp.from_email }}>"
      recipients:
        - "{{ user_erhhung.fullname }} <{{ user_erhhung.email }}>"
      headers:
        Content-Type: text/html; charset=utf-8
    # sending HTML email isn't currently supported!
    # https://github.com/ansible/awx/issues/11057
    messages: | # custom messages
      {% set msgs  = {} %}
      {% set types = {
           'started': 'started',
           'success': 'completed',
           'error':   'failed',
         } %}
      {# NOTE: the {{ }} braces below are part of the notification #}
      {#       message template interpreted by AWX, not by Ansible #}
      {% for type, msg in types.items() %}
      {%   set _ = msgs.update({
             type: {
               'message': '{{ job_friendly_name }} {{ job.id }} has '~ msg,
               'body':
      '<table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
        <tr>
          <td style="text-align:right; padding:2px 8px; white-space:nowrap;">{{ job_friendly_name }}:</td>
          <td style="padding:2px 0; font-weight:bold;">
            <a href="{{ url | replace(' ~"'#','ui_next'"~ ') }}/output">{{ job.name }} #{{ job.id }}</a>
          </td>
        </tr>
        <tr>
          <td style="text-align:right; padding:2px 8px; white-space:nowrap;">Status:</td>
          <td style="padding:2px 0; font-weight:bold;">'~ "{{
            '✅' if job.status == 'successful' else '❌' if job.status == 'failed' else
            '⏳' if job.status == 'running'    else '⚠️' }} {{ job.status | upper }}</td>
        </tr>
      </table>",
             }}) %}
      {% endfor  %}
      {{ msgs    }}

  # https://docs.slack.dev/messaging/sending-messages-using-incoming-webhooks#advanced_message_formatting
  # https://docs.slack.dev/messaging/formatting-message-text#basic-formatting
  slack:
    name: Homelab Slack
    type: webhook # legacy Slack Incoming Webhook
    config:
      url: "{{ slack_webhook_urls['awx'] }}"
      http_method: POST
      headers:
        Content-Type: application/json; charset=utf-8
    # https://docs.ansible.com/projects/awx/en/24.6.1/userguide/notification_parameters_supported.html#supported-attributes-for-custom-notifications
    # due to AWX not surfacing job.extra_vars, it's not possible
    # to include list of selected playbooks in the message body:
    # https://github.com/ansible/awx/issues/4539
    messages: | # custom messages
      {% set msgs  = {} %}
      {% set types = {
           'started': 'started',
           'success': 'completed',
           'error':   'failed',
         } %}
      {# NOTE: the {{ }} braces below are part of the notification #}
      {#       message template interpreted by AWX, not by Ansible #}
      {% for type, msg in types.items() %}
      {%   set _ = msgs.update({
             type: {
               'body': {
                 'text': '{{ job_friendly_name }} {{ job.id }} has '~ msg,
                 'blocks': [{
                   'type': 'section',
                   'text': {
                     'type': 'mrkdwn',
                     'text': "*{{ job_friendly_name }}*: *<{{ url | replace('#', 'ui_next') }}/output|{{ job.name }} #{{ job.id }}>*" ~"\n"~
                             "*Status*: {{ '✅' if job.status == 'successful' else '❌' if job.status == 'failed' else" ~
                                         " '⏳' if job.status == 'running'    else '⚠️' }} *{{ job.status | upper }}*",
                   },
                 }],
               } | to_json
             }}) %}
      {% endfor  %}
      {{ msgs    }}

# https://docs.ansible.com/projects/awx/en/24.6.1/userguide/projects.html
# https://docs.ansible.com/projects/awx/en/24.6.1/userguide/inventories.html
# https://docs.ansible.com/projects/awx/en/24.6.1/userguide/job_templates.html
awx_projects:
  home-xcp:
    name: homelab-xcp
    desc: >-
      Ansible playbooks to manage configuration and
      dotfiles for Erhhung's XCP-ng cluster at home.
    url: https://github.com/erhhung/homelab-xcp.git
    git_cred: github-scm
    run_creds:
      - ssh-key
      - xcp-vault
    exec_env: xcp-ng
    inv_file: inventory/hosts.ini
    playbooks:
      - python3
      - packages
      - basics
      - files
      - vms

  home-k8s:
    name: homelab-k8s
    desc: >-
      Ansible playbooks to provision infrastructure and
      deploy services for Erhhung's Kubernetes cluster
      at home.
    url: https://github.com/erhhung/homelab-k8s.git
    git_cred: github-scm
    run_creds:
      - ssh-key
      - k8s-vault
    exec_env: default
    inv_file: inventory/hosts.ini
    # we're importing THIS project, so
    # just get playbooks from main.yml
    playbooks: |
      {% set main_yml =  playbook_dir ~ '/main.yml' %}
      {% set   yq_cmd = 'yq "map(.tags) | @json" '~ main_yml %}
      {{ lookup('ansible.builtin.pipe',  yq_cmd) | from_json }}
