-- https://www.postgresql.org/docs/current/sql-createrole.html
CREATE ROLE erhhung WITH LOGIN SUPERUSER CREATEROLE CREATEDB
                               PASSWORD '{{ pgpool_db_pass }}';
CREATE ROLE scraper WITH LOGIN PASSWORD '{{ pgpool_db_pass }}';
-- https://www.postgresql.org/docs/current/sql-grant.html
GRANT ALL PRIVILEGES ON DATABASE postgres TO scraper;

{% for role in postgresql_users |
     ansible.builtin.difference(['erhhung', 'scraper']) %}
CREATE ROLE {{ role }} WITH LOGIN CREATEDB PASSWORD '{{ pgpool_db_pass }}';
{% endfor %}
