# pass the following vars:
#   vcluster <required> object {name,node}
---
# https://www.vcluster.com/install
- name: Create vCluster "{{ vcluster.name }}"
  become: false
  vars:
    # required kubernetes>=24.2 package only in user virtualenv
    ansible_python_interpreter: "{{ venv_python_interpreter }}"
    kubeconfig: "{{ rke_kubeconfig }}"
  block:
    # https://www.vcluster.com/docs/vcluster/introduction/architecture
    - name: Create vCluster storage
      vars:
        pv_list:
          # - name: vcluster-{{ vcluster.name }}-etcd-pv
          #   role: etcd # controlPlane.backingStore.etcd.deploy.statefulSet.persistence
          #   size: "{{ vcluster_pv_sizes['etcd'] }}"
          - name: vcluster-{{ vcluster.name }}-data-pv
            role: data # controlPlane.statefulSet.persistence
            size: "{{ vcluster_pv_sizes['data'] }}"
      block:
        - name: Create PV path on node data LV
          delegate_to: "{{ vcluster.node }}"
          become: true
          # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html
          ansible.builtin.file:
            path: "{{ data_lv.mount }}/{{ item.name }}"
            state: directory
            mode: "0755"
          loop: "{{ pv_list }}"
          loop_control:
            label: "{{ vcluster.node }}|{{ item.name }}"

        - name: Create vCluster persistent volume
          # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html
          kubernetes.core.k8s:
            kubeconfig: "{{ kubeconfig }}"
            # https://kubernetes.io/docs/concepts/storage/volumes#local
            definition:
              apiVersion: v1
              kind: PersistentVolume
              metadata:
                name: "{{ item.name }}"
                labels:
                  app: vcluster
                  release: "{{ vcluster.name }}"
                  role: "{{ item.role }}"
                  node: "{{ vcluster.node }}"
              spec:
                storageClassName: "{{ storage_classes['local'] }}"
                capacity:
                  storage: "{{ item.size }}"
                local:
                  path: "{{ data_lv.mount }}/{{ item.name }}"
                accessModes: ["ReadWriteOnce"]
                volumeMode: Filesystem
                nodeAffinity:
                  required:
                    nodeSelectorTerms:
                      - matchExpressions:
                          - key: kubernetes.io/hostname
                            operator: In
                            values: "{{ [vcluster.node] }}"
                persistentVolumeReclaimPolicy: Retain
            validate:
              fail_on_error: false
            state: present
            apply: true
            wait: true
          loop: "{{ pv_list }}"
          loop_control:
            label: "{{ item.name }}|{{ item.size }}"

    - name: Install vCluster Helm chart
      vars:
        vcluster_fqdn: "{{ vcluster.name }}.{{ vcluster_domain }}"
        vcluster_ns: vcluster-{{ vcluster.name }}
      block:
        - name: Install vCluster Helm chart
          vars:
            # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/template_lookup.html
            values_: "{{ lookup('ansible.builtin.template', template_dir ~ '/vcluster.yaml.j2') }}"

            # === Inputs ===
            tmpdir_name: vcluster-{{ vcluster.name }}
            repo_name: vcluster
            repo_url: https://charts.loft.sh
            chart_ref: vcluster
            chart_ver: "{{ vcluster_chart_version }}"
            release: "{{ vcluster.name }}"
            release_ns: "{{ vcluster_ns }}"
            values: "{{ values_ | from_yaml }}"

            patches:
              # vCluster Helm chart creates a config Secret with "config.yaml"
              # key and value {{ .Values | toYaml }}, but since we adopt extra
              # resources using bedag/raw subchart, .exxtraas gets included in
              # the config.yaml, which the controller cannot unmarshal. So use
              # a post-renderer to remove .exxtraas from the Secret
              post_renderers:
                - |
                  #!/usr/bin/env bash
                  set -euo pipefail

                  echo >&2 "$0"
                  yaml="$(cat)"

                  # https://github.com/loft-sh/vcluster/tree/main/chart/templates/config-secret.yaml
                  export NAME="vc-config-{{ vcluster.name }}"

                  config="$(yq 'select(
                    .kind == "Secret" and .metadata.name == env(NAME)
                    ) | .data."config.yaml" // "" | @base64d' <<< "$yaml")"

                  if [ "$config" ]; then
                    # delete subchart values that
                    # aren't spec for config.yaml
                    CONFIG="$(yq 'del(.exxtraas)' <<< "$config")" \
                      yq 'with(select(
                        .kind == "Secret" and .metadata.name == env(NAME)
                        ); .data."config.yaml" = (strenv(CONFIG) | @base64)
                        )' <<< "$yaml"
                  else
                    echo "$yaml"
                  fi
          # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_tasks_module.html
          ansible.builtin.include_tasks: tasks/helm/helmfile.yml

        - name: Fetch vCluster kubeconfig
          # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_info_module.html
          kubernetes.core.k8s_info:
            kubeconfig: "{{ kubeconfig }}"
            api_version: v1
            kind: Secret
            name: vc-{{ vcluster.name }}
            namespace: "{{ vcluster_ns }}"
          register: vc_secret

        - name: Merge kubeconfig into local
          vars:
            # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/b64decode_filter.html
            kubeconfig: "{{ vc_secret.resources[0].data.config | b64decode }}"
            context: x{{ vcluster.name }}
            server: https://{{ vcluster_fqdn }}
          ansible.builtin.include_tasks: tasks/k8s/kubeconfig.yml
      rescue:
        - name: Delete vCluster resources
          ansible.builtin.include_tasks: tasks/vcluster/delete.yml

        - name: Terminate play on failure
          # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/fail_module.html
          ansible.builtin.fail:
            msg: Failed to create vCluster "{{ vcluster.name }}"!
