# perform "helm diff upgrade" against existing
# Helm release to determine whether an upgrade
# is required; returns true if release missing
#
# pass the following vars:
#   kubeconfig  <required> kubeconfig path
#   repo_name   <required> repository name
#   repo_url    <required> repository URL
#   chart_name  <required> chart name
#   chart_ver   [optional] chart version
#   release     <required> release name
#   release_ns  <required> release namespace
#   values      [optional] chart values dict
# sets the following facts:
#   release_exists whether the release exists
#   needs_upgrade  whether upgrade is needed
---
# assumes helm-diff plugin installed
- name: Do "helm diff upgrade" check
  become: false
  vars:
    # required kubernetes>=24.2 package only in user virtualenv
    ansible_python_interpreter: "{{ venv_python_interpreter }}"
    temp_dir: /tmp/helmdiff/{{ chart_name }}
    values_file: "{{ temp_dir }}/values.yaml"
  block:
    - name: Check if release exists
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html
      ansible.builtin.command:
        argv:
          - helm
          - --kubeconfig={{ kubeconfig }}
          - hist
          - "{{ release }}"
          - -n={{ release_ns }}
      register: helm_hist
      changed_when: false
      failed_when: false

    - name: Set release_exists fact
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_fact_module.html
      ansible.builtin.set_fact:
        release_exists: >-
          {{ helm_hist.rc == 0 and
             helm_hist.stdout is search('REVISION') }}

    - name: Add Helm chart repository
      # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/helm_repository_module.html
      kubernetes.core.helm_repository:
        repo_name: "{{ repo_name }}"
        repo_url: "{{ repo_url }}"
        repo_state: present
      when: release_exists
      changed_when: false

    - name: Write chart values file
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html
      ansible.builtin.shell: |
        set -eo pipefail

        mkdir -p {{ temp_dir }}

        # properly quote boolean strings like on/off/yes/no
        # because Helm, unlike yq, adheres to YAML 1.1 spec,
        # and will parse these as booleans if left unquoted
        jq <<'JSON' | yq -pj '(.. |
          select( tag == "!!str" and
            (downcase == "on" or downcase == "off" or
             downcase == "no" or downcase == "yes")
          )) |= . style = "double"
           '  > {{ values_file }}
        {{ values | default('---') | to_json(separators=[',',':']) }}
        JSON
      args:
        executable: /bin/bash
      when: release_exists
      changed_when: false

    - name: Run "helm diff upgrade"
      vars:
        argv:
          - helm
          - --kubeconfig={{ kubeconfig }}
          - diff
          - upgrade
          - "{{ release }}"
          - -n={{ release_ns }}
          - "{{ repo_name }}/{{ chart_name }}"
          - "{{ '--version=' ~  chart_ver  if chart_ver is defined else [] }}"
          - "{{ '-f='        ~ values_file if values    is defined else [] }}"
          - --show-secrets
      ansible.builtin.command:
        argv: "{{ argv | flatten }}"
      when: release_exists
      register: helm_diff
      changed_when: false

    - name: Set needs_upgrade fact
      ansible.builtin.set_fact:
        # if all diffs suppressed, message would
        # be "has changed, but diff is empty..."
        needs_upgrade: >-
          {{ not release_exists or helm_diff.stdout_lines |
             select('search', '^[^ ]{2,}.+has.+(added|removed|changed):$') is truthy }}

    - name: Delete temp values file
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html
      ansible.builtin.file:
        path: "{{ values_file }}"
        state: absent
      when: release_exists
      changed_when: false

    - name: Show Helm diff results
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/debug_module.html
      ansible.builtin.debug:
        msg: |-
          release_exists: {{ release_exists }}
           needs_upgrade: {{ needs_upgrade  }}
