[default]
# MinIO: {{ minio_s3api_fqdn }}
aws_access_key_id = erhhung
aws_secret_access_key = {{ minio_admin_pass }}

[personal]
# {{ aws_profiles['personal'].account_id }}: erhhung-personal
# arn:aws:iam::{{ aws_profiles['personal'].account_id }}:user/homelab
aws_access_key_id = {{     aws_profiles['personal'].access_key }}
aws_secret_access_key = {{ aws_profiles['personal'].secret_key }}
