---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metacontroller
  # required by serviceMonitorSelector!
  labels: {{ monitoring_selector_labels }}
spec:
  jobLabel: metacontroller
  namespaceSelector:
    matchNames:
      - {{ metacontroller_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: metacontroller
  endpoints:
    - port: metrics
      path: /metrics
      interval: 60s
