---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metacontroller
  labels:
    app.kubernetes.io/name: metacontroller
    # required by serviceMonitorSelector!
    release: {{ monitoring_release_name }}
spec:
  jobLabel: metacontroller
  namespaceSelector:
    matchNames:
      - {{ metacontroller_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: metacontroller
  endpoints:
    - port: metrics
      path: /metrics
      interval: 60s
