# configure container probes. field value
# can be "OMIT" as marker to remove field
# (e.g. switch from "exec" to "httpGet")
#
# pass the following vars:
#   kubeconfig  <required> path to kubeconfig
#   api_version [optional] default based on resource kind
#   res_kind    <required> resource type (Pod, Deployment,
#                          StatefulSet, DaemonSet)
#   res_name    <required> resource  name
#   res_ns      <required> resource  namespace
#   probes      <required> dictionary of probes
#     {container}      <required> container name
#       readinessProbe [optional]
#       livenessProbe  [optional]
#       startupProbe   [optional]
#     ...                  additional containers
#   max_wait    [optional] default=10 (seconds)
---
- name: Configure container probes
  become: false
  vars:
    # required kubernetes>=24.2 package only in user virtualenv
    ansible_python_interpreter: "{{ venv_python_interpreter }}"
    max_retries: 3
    retry_delay: 1
  block:
    - name: Get {{ res_name }} {{ res_kind }}
      vars:
        api_default: "{{ '' if res_kind == 'Pod' else 'apps/' }}v1"
      # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_info_module.html
      kubernetes.core.k8s_info:
        kubeconfig: "{{ kubeconfig }}"
        api_version: "{{ api_version | default(api_default) }}"
        kind: "{{ res_kind }}"
        name: "{{ res_name }}"
        namespace: "{{ res_ns }}"
      # https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_loops.html#retrying-a-task-until-a-condition-is-met
      register: res_info
      retries: 10
      delay: "{{ max_wait | default(10) / 10 }}"
      until: res_info.resources[0] is defined

    - name: Find containers in resource
      vars:
        spec: "{{ res_info.resources[0].spec }}"
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_fact_module.html
      ansible.builtin.set_fact:
        resource: "{{ res_info.resources[0] }}"
        containers: "{{ spec.containers if res_kind == 'Pod' else
          spec.template.spec.containers }}"

    - name: Ensure all containers found
      vars:
        valid: "{{ containers | map(attribute='name') }}"
        # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/difference_filter.html
        invalid: "{{ probes.keys() | ansible.builtin.difference(valid) }}"
        error: No container named "{{ (invalid | list + ['']) | first }}"
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/assert_module.html
      ansible.builtin.assert:
        that: invalid is falsy
        fail_msg: "{{ error }}!"
        quiet: true

    - name: Patch container probe specs
      vars:
        definition: |
          {% set containers  = resource.spec.containers if res_kind == 'Pod' else
                 resource.spec.template.spec.containers %}
          {# use index so that we can reference
             outer object within the loop scope  #}
          {% for i in range(containers | length) %}
          {%   set name = containers[i].name %}
          {%   if name in probes             %}
          {%     for probe, config in probes[name].items() %}
          {%       for k, v in config.items()           %}
          {%         if   v is string and  v == 'OMIT'  %}
          {%           set _ = config.update({k: omit}) %}
          {%         endif %}
          {%       endfor  %}
          {%       if probe in containers[i] %}
          {#         https://docs.ansible.com/ansible/latest/collections/ansible/builtin/combine_filter.html #}
          {%         set merged = containers[i][probe] | ansible.builtin.combine(config, recursive=true)     %}
          {%         set _ = containers[i].update({probe: merged}) %}
          {%       else   %}
          {%         set _ = containers[i].update({probe: config}) %}
          {%       endif  %}
          {%     endfor   %}
          {%   endif  %}
          {% endfor   %}
          {# show the spec without meta fields #}
          {{ resource | ansible.builtin.combine({
               'metadata': {
                 'uid':               omit,
                 'creationTimestamp': omit,
                 'resourceVersion':   omit,
                 'managedFields':     omit,
                 'generation':        omit,
                 'annotations': {
                   'kubectl.kubernetes.io/last-applied-configuration': omit,
                 },
               },
               'status': omit,
             }, recursive=true) }}
      ansible.builtin.set_fact:
        res_specs: "{{ definition }}"

    # - name: Show patched resource spec
    #   ansible.builtin.debug:
    #     var: res_specs

    - name: Apply patched resource spec
      # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        definition: "{{ res_specs  }}"
        state: present
        apply: true
        validate:
          fail_on_error: true
  rescue:
    # implement a retry logic because patching could fail due
    # to conflict error "the object has been modified; please
    # apply your changes to the latest version and try again"
    - name: Increment retry_count
      ansible.builtin.set_fact:
        retry_count: "{{ (retry_count | default(0) | int) + 1 }}"

    - name: Delay before retrying
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/pause_module.html
      ansible.builtin.pause:
        prompt: Please wait...
        seconds: "{{ retry_delay }}"
      when: retry_count | int <= max_retries

    - name: Retry configuring probes
      ansible.builtin.include_tasks: tasks/k8s/probes.yml # recursion
      when: retry_count | int <= max_retries

    - name: Set retry_count to zero
      ansible.builtin.set_fact:
        retry_count: 0

  any_errors_fatal: false
