# check if Gateway API and Istio Operator CRDs
# are installed so that service mesh resources
# can be created
#
# pass the following vars:
#   kubeconfig  [optional] default=<RKE>
# sets the following facts:
#    gateway_api_crds_installed: true/false
#   service_mesh_crds_installed: true/false
---
- name: Are service mesh CRDs installed?
  become: false
  vars:
    check_crds:
      # if these exist, others should also
      - gateways.gateway.networking.k8s.io
      - serviceentries.networking.istio.io
  block:
    - name: Does CustomResourceDefinition exist?
      vars:
        # required kubernetes>=24.2 package only in user virtualenv
        ansible_python_interpreter: "{{ venv_python_interpreter }}"
      # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_info_module.html
      kubernetes.core.k8s_info:
        kubeconfig: "{{ kubeconfig | default(rke_kubeconfig) }}"
        api_version: apiextensions.k8s.io/v1
        kind: CustomResourceDefinition
        name: "{{ item }}"
      register: crd_info
      loop: "{{ check_crds }}"
      loop_control:
        label: "{{ item | split('.') | first }}"

    - name: Set service_mesh_crds_installed fact
      vars:
        crds_installed: >-
          {{ crd_info.results | map(attribute='resources') | map('length') | map('bool') }}
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_fact_module.html
      ansible.builtin.set_fact:
        gateway_api_crds_installed: "{{  crds_installed | first }}"
        service_mesh_crds_installed: "{{ crds_installed  is all }}"

    - name: Show service_mesh_crds_installed fact
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/debug_module.html
      ansible.builtin.debug:
        msg: |2-
           gateway_api_crds_installed: {{  gateway_api_crds_installed }}
          service_mesh_crds_installed: {{ service_mesh_crds_installed }}
