# enable or disable Istio service mesh in ambient mode
# for specified namespace, and enable/disable Waypoint
# proxy for entire namespace or only specific services
#
# pass the following vars:
#   kubeconfig  <required> path to kubeconfig
#   enabled     [optional] use service mesh for namespace?
#   apps_ns     <required> namespace to apply service mesh
#   resources   [optional] resources to use Waypoint proxy
#     - kind:    Namespace|Service
#       name:    resource
#       enabled: [true]
---
- name: Service mesh CRDs installed?
  # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_tasks_module.html
  ansible.builtin.include_tasks: tasks/istio/crds.yml
  when: service_mesh_crds_installed is not defined

- name: >-
    {{ 'Enable' if istio_enabled else 'Disable' }}
    Istio for {{ apps_ns }} namespace
  when: service_mesh_crds_installed
  become: false
  vars:
    # required kubernetes>=24.2 package only in user virtualenv
    ansible_python_interpreter: "{{ venv_python_interpreter }}"
    istio_enabled: "{{ enabled | default(true) }}"
    waypoint_enabled: "{{ istio_enabled and resources |
      default([]) | map(attribute='enabled') is any }}"
    waypoint_name: "{{ apps_ns ~ '-waypoint' }}"
  block:
    - name: >-
        {{ 'Label' if istio_enabled else 'Unlabel' }}
        {{ apps_ns }} namespace as data plane
      # https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        api_version: v1
        kind: Namespace
        name: "{{ apps_ns }}"
        definition:
          metadata:
            labels: # set label value to null (none) to remove an existing key
              istio.io/dataplane-mode: "{{ 'ambient' if istio_enabled else none }}"
        state: patched

    # https://istio.io/latest/docs/ambient/usage/waypoint#deploy-a-waypoint-proxy
    # https://ambientmesh.io/docs/setup/configure-waypoints
    - name: >-
        {{ 'Deploy' if waypoint_enabled else 'Delete' }}
        Waypoint proxy via Gateway API
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        namespace: "{{ apps_ns }}"
        definition:
          # https://kubernetes.io/docs/concepts/services-networking/gateway#api-kind-gateway
          apiVersion: gateway.networking.k8s.io/v1
          kind: Gateway
          metadata:
            name: "{{ waypoint_name }}"
            labels:
              istio.io/waypoint-for: service
          spec:
            gatewayClassName: istio-waypoint
            listeners:
              - name: mesh
                port: 15008
                protocol: HBONE
              # expose istio-proxy's
              # http-envoy-prom port
              - name: http-monitoring
                port: 15090
                protocol: HTTP
        state: "{{ 'present' if waypoint_enabled else 'absent' }}"

    # https://istio.io/latest/docs/ambient/usage/waypoint#useawaypoint
    - name: >-
        {{ 'Label' if waypoint_enabled else 'Unlabel' }}
        resource for Waypoint proxy
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        api_version: v1
        kind: "{{ item.kind }}"
        name: "{{ item.name }}"
        namespace: "{{ apps_ns if item.kind | lower != 'namespace' else omit }}"
        definition:
          metadata:
            labels: # set label value to null (none) to remove existing key
              istio.io/use-waypoint: "{{ waypoint_name if
                item.enabled | default(true) else none }}"
        # when state = `patched`, task does
        # nothing if resource doesn't exist
        state: patched
      loop: "{{ resources | default([]) }}"
      loop_control:
        label: "{{ item.kind | lower ~'/'~ item.name }}"
