-- https://www.postgresql.org/docs/current/sql-createrole.html
CREATE ROLE erhhung WITH LOGIN SUPERUSER;
{% for role in postgresql_users | select('!=','erhhung') %}
CREATE ROLE {{ role }} WITH LOGIN CREATEDB;
{% endfor %}
