# This file is uploaded by Erhhung's
# "home-k8s-config" Ansible project.
network:
  version: 2
  ethernets:
    {{ host_pif }}:
      addresses:
        - {{ ansible_host ~ subnet_mask }}
      nameservers:
        addresses:
{% for ns in name_servers %}
          - {{ ns }}
{% endfor %}
        search:
{% for dom in search_domains %}
          - {{ dom }}
{% endfor %}
      routes:
        - to: default
          via: {{ name_servers[0] }}
