# pass the following vars:
#   services  [optional] services to stop
#   commands  [optional] ad-hoc commands
#   haltdelay [optional] default=10 secs
---
- name: Shut down host "{{ inventory_hostname }}"
  become: true
  block:
    - name: Stop services
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/systemd_service_module.html
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        state: stopped
      loop: "{{ services }}"
      when:
        - services is defined
        - services is iterable
        - services is truthy
      failed_when: false

    - name: Exec commands
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html
      ansible.builtin.command: "{{ item }}"
      loop: "{{ commands }}"
      when:
        - commands is defined
        - commands is iterable
        - commands is truthy
      changed_when: true

    - name: Delay shutdown
      # https://docs.ansible.com/ansible/latest/collections/ansible/builtin/pause_module.html
      ansible.builtin.pause:
        prompt: Please wait...
        seconds: "{{ haltdelay | default(10) }}"

    - name: Halt system
      # https://docs.ansible.com/ansible/latest/collections/community/general/shutdown_module.html
      community.general.shutdown:
      # https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_async.html
      async: 20
      poll: 0
